

.com-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100% ;
    background-color: #18191B;
    padding: 12px 0px ;
    gap: 20px;

    
}