.countries-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100% ;
    background-color: #18191B;
    padding: 12px 0px ;
    gap: 20px;
  }

  .grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto; 
    gap: 20px; 
    width:90% ;
    text-align: center;

  }


