.country-card{
    background-color: #333438;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.country-card:hover{
    border: 2px solid #EF4036;
}

.country-name{
    color: white;
}


.custom-tooltip {
    position: relative;
    display: flex;
    visibility: hidden;
  }
  
  .tooltip-content {
    visibility: hidden;
    background-color: #333438;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .country-card:hover .custom-tooltip  .tooltip-content {
    visibility: visible;
  }