.filter-container{
    height: auto;
    padding: 12px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242529;
    overflow-x: hidden;

}