.nav-bar{
    display: flex;
    width: 100%;    
    background-color: #313236;

}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    padding: 10px;
    height: 40px;
    width: auto;
}

.org-name{
    font-size: 1.7em;
    font-weight: bold;
    
}


.utils{
    display: flex;
    width: 100%;
    gap: 12px;
    padding: 12px;
    color:  white;
    background-color: #242529;
    justify-content: space-between;
    align-items: center;

}

.utils-sub{
    display: flex;
    gap: 20px;
}


.status-btn{
    border: 2px solid green;
    background-color: transparent;
    border-radius: 8px;
    padding: 0px 50px 0px;
    display: flex;
    align-items: center;
}


.acc-btn{
    border-radius: 1000px;
    border: 2px solid red;
    background-color: black;
    height: 50px;
    width: 50px;
}

.acc-btn:hover{
   background-color: aliceblue;
}